<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The offical Smash Staff Panel!">
  <title>Smash &raquo; Home</title>
  <link rel="icon" href="https://i.imgur.com/gdBZHuF.png" type="image/png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <link rel="stylesheet" href="assets/css/argon.css?v=1.2.0" type="text/css">
</head>

<body>
  <%- include('../../partials/sidebar.ejs') %>
    <%- include('../../partials/topnav.ejs') %>
    <div class="header bg-primary pb-6">
      <div style="width: 100%; margin:0; position: absolute; padding: 0; height: 250px; background: linear-gradient(90deg, #406B91 0%, #59A1DF 100%);">
        <h1 style=" padding-top: 100px; padding-left: 75px; font-size: 32px !important; font-weight: 300;">Good <span class="time"></span> <span style="font-weight:700;"><%- user.username %></span>.</h1>
      </div>
      <br>
      <div class="container-fluid">
        <div class="header-body">
          <div class="row" style="padding-top: 250px;">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Current Listeners</h5>
                      <span class="h2 font-weight-bold mb-0 text-primary" id="listeners">N/A</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Booked Slots</h5>
                      <span class="h2 font-weight-bold mb-0 text-primary">0 / 2</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="fas fa-calendar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Discord Members</h5>
                      <span class="h2 font-weight-bold mb-0 text-primary"><%- memberCount %></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="fab fa-discord"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Current DJ</h5>
                      <span class="h2 font-weight-bold mb-0 text-primary" id="dj">N/A</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="fas fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p>Please note: This panel is still in development</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <script src="assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="assets/js/dashboard.js"></script>
  <script src="assets/js/argon.js?v=1.2.0"></script>
  <script>
    function updateTime(){
    var today = new Date()
    var curHr = today.getHours()
    if (curHr < 12) {
      $(".time").text("morning,")
    } else if (curHr < 18) {
      $(".time").text("afternoon,")
    } else {
      $(".time").text("evening,")
    }
  }
  updateTime()
  setInterval(()=>{
    updateTime()
  },5000)
  </script>
</body>
</html>
