<div class="container-fluid mt--6">
    <footer class="footer-dark pt-0">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
          <div class="copyright text-center  text-lg-left  text-muted">
            Frontend used from BobbySystems, panel created by rize.services
          </div>
        </div>
      </div>
    </footer>
  </div>